<div class="container">
    <br>
    <h1>Veterinaria Dolittle</h1>
    <br>
    <p>Veterinaria Dolittle se preocupa de la salud de las mascotas, como otro miembro de la familia chilena.</p>
    <p>Nuestros servicios son:</p>
    <ul>
      <li>Peluquería</li>
      <li>Farmacia</li>
      <li>Hotel</li>
      <li>Accesorios</li>
    </ul>
</div>