<br>
<div class="container">

    <h1>Veterinaria Dolittle</h1>
    <p> Salud para los otros miembros de tu familia. Atención de animales menores (canino & felino).</p>

    <%= link_to "sobre nosotros", '/pages/about', class:"btn btn-secondary" %>
    

</div>
